*{
  color:#cecece;
}
body{
   font: 15px/1.5 Arial, Helvetica,        sans-serif;
   padding: 0;
   margin: 0;
   background-color:#646464;
}
header{
 padding-bottom:28px;
}
#title{
  width:100%;
  align-items:center;
}
h1{
  font-family:din round, sans-serif;
  font-size:40px;
  line-height:40px;
  margin-top:50px;
  letter-spacing:1px;
  font-weight:600;
  text-align:center;
}
h3{
  font-family:sans-serif;
  font-weight:300;
  font-size:1.5rem;
  line-height:20px;
  letter-spacing:2px;
  text-align:center;
}
#container{
  width:100%;
  height:1450px;
  background-color:#101010;
  padding-top:20px;
}
#image{
  width:900px;
  height:644px;
  margin:auto;
  display:block;
  
}
.img-title{
  color:#aaa;
  text-align:center;
  line-height:5px;
  }

.tooltip {
  color: #aaa;
  text-decoration: none;
}
.box{
  width:80%;
  height:auto;
  margin-left:auto;
  margin-right:auto;
  margin-top:70px;
  padding:14px;
  border-radius:14px;
  background-color:#646464;
  
}
.box-text{
  font-size:25px;
  }
.footer-box{
  margin-bottom:50px;
  margin-top:40px;
  width:90%;
  text-align:center;
   height:auto;
  margin-left:auto;
  margin-right:auto;
  margin-top:70px;
  padding:12px;
  border-radius:14px;
  background-color:#646464;
  
}